
/*header*/
header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
/*header*/

#toggler{
  color: #FFED00;
}

/* clases */
.style{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.styleImg{
  margin: 70px 0;
}

.articuloImg{
    display: flex;
    justify-content: center;
}

/* media queries */
@media only screen and(max-width:1199px) {

}